* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Application {
  width: 45vw;
}

.answerDisplay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: rgb(145, 142, 142);
  padding: 8px;
  color: white;
  font-size: 20px;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 45px);
}

button {
  cursor: pointer;
  border: 1px solid #c7c7c7;
  background-color: #f2eded;
  font-weight: bolder;
}

button:hover {
  background-color: #a4a3a3b9;
  color: #fff;
}

button:active {
  background-color: #3e3d3db9;
}

.zero {
  grid-column: 1/span 2;
}

.mathOperation {
  background-color: #f5913e;
}

.mathOperation:hover {
  background-color: #e86c06;
}

.mathOperation:active {
  background-color: #f5913e;
}