:root {
  --primary-color: #21637b;
  --secondary-color: rgb(0, 0, -19);
  --white-color: #fff;
  --tertiary-color: wheat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
}

h2 {
  color: #042c4f;
}

body {
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  font-size: 40px;
  font-weight: bolder;
  color: #042c4f;
}

nav ul {
  display: flex;
  gap: 5px;
}

nav ul li {
  border-right: 2px solid var(--secondary-color);
  padding: 5px 8px 5px 0;
}

nav ul li:nth-child(3) {
  border-right: none;
}

nav ul li .link {
  text-decoration: none;
  font-weight: bolder;
  padding: 5px 8px;
  font-size: 18px;
  color: var(--primary-color);
  letter-spacing: 1px;
  transition: all 0.3s linear;
}

nav ul li .link:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
